nav {
  text-align: center;
  background-color: #A8A8A8;
}

h1, li, .masthead{
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.masthead {
  background-color: #888888;
}

.pricing-bucket {
  background-color: #C0C0C0;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.button {
  background-color: #E8E8E8;
  border-radius: 10px;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  padding: 0.5em;
  width: 20%;
  display: inline-block;
  margin-left: 40%;
}

footer {
  background-color: #D0D0D0;
}

.pre-foot {
  display: inline;
  background-color: #989898;
}
