nav {
  text-align: center;
  background-color: #730000;
  overflow: hidden;
}

ul {
  padding-top: 4em;
  display: none;
}

.small-logo {
  float: left;
  width: 45%;
}

img {
  width: 100%;
}

h1, li a {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
  color: #FFEEEE;
  display: block;
}

li {
  width: 100%;
  padding-bottom: .5em;
}

p {
  font-family: 'Lora', serif;
  color: #FFEEEE;
}

.menu-icon {
  width: 20%;
  padding: .5em;
  position: absolute;
  right: 3px;
  top: 7px;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ ul {
  display: block;
}

.nav-label {
  cursor: pointer;
}

.banner {
  background-image: url("../images/masthead.png");
  background-size: cover;
}

.banner-text {
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  width: 100%;
}

.quote {
  position: absolute;
  z-index: 10;
  padding-top: 45%;
}

.couple-image {
  position: relative;
  overflow: hidden;
  display: block;
}

.index, .pricing-bucket {
  background-color: #C99D9E;
}

.break {
  width: 80%;
  padding-left: 20%;
}


h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  color: #FFEEEE;

}

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
  color: #FFEEEE;
}

a {
  color: #42210B;
  text-decoration: none;
}

.button {
  border: 1.75px solid;
  border-color: #42210B;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 700italic;
  padding: 0.5em;
  width: 20%;
  display: inline-block;
  margin-left: 40%;
  text-decoration: none;
}

.button-1 {
  color: #FFEEEE;
  border: 1.75px solid;
  border-color: #FFEEEE;;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  padding: .5em;
  width: 40%;
  text-decoration: none;
  display: inline-block;
}

.button-2 {
  border: 1.75px solid;
  border-color: #FFEEEE;
  color: #FFEEEE;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 700italic;
  padding: .5em;
  width: auto;
  text-decoration: none;
  display: inline-block;
}

label {
  display: block;
  cursor: pointer;
}

input + label {
  display: inline;
}

button {
  border: 3px solid pink;
  font-size: 2em;
  padding: 1em;
  cursor: pointer;

}

footer {
  background-color: #730000;
}

footer p {
  color: #FFEEEE;
}

.pre-foot, .pre-foot p {
  background-color: #954244;
  text-align: center;
  padding: 2em;
  color: #FFEEEE;
}

.pre-foot-p {
  width: 50%;
  display: inline;
  padding-right: 1em;
}

.media-icon {
  width: 11%;
}

@media only screen and (min-width: 20em) {

  .list {
    padding-left: 5%;
    padding-right: 5%;
  }

  .button {
    border-style: solid;
    border-color: #42210B;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 700italic;
    padding: 0.5em;
    width: 40%;
    display: inline-block;
    margin-left: 30%;
    text-decoration: none;
  }

  .pre-foot {
    font-size: 90%;
  }

  .button-2 {
    margin-top: 1em;
  }

  .pre-foot-p {
    height: 1em;
  }
  .quote {
    font-size: 90%;
  }

}

@media only screen and (min-width: 25em) {
  .small-logo {
    width: 22%;
    float: left;
  }

  .menu-icon {
    display: none;
  }

  .nav-check {
    display: none;
  }

  .nav-check:checked ~ ul {
    display: none;
  }

  .nav-label {
    display: none;
}

  ul {
    padding-top: .5em;
  }
  li {
    width: 25%;
    padding-bottom: .5em;
    padding-top: 1.5%;
    display: block;
}
  header ul {
    display: inline-block;
    width: 75%;
    clear: both;
    overflow: hidden;
  }

  .quote {
    font-size: 100%
}

  .break {
    width: 70%;
    padding-left: 30%;
  }

  .media-icon {
    width: 9%;
  }
}

@media only screen and (min-width: 37em) {
  .break {
    display: none;
  }

  .media-icon {
    width: 7%;
  }
}

@media only screen and (min-width: 40em) {
  .list {
    padding-left: 20%;
    padding-right: 20%;
  }

  .quote {
    font-size: 100%
}
}

@media only screen and (min-width: 53em) {
  .small-logo {
    width: 18%;
    float: left;
  }

  .media-icon {
    width: 5%;
  }
}

@media only screen and (min-width: 60em) {

.couple-image {
  height: 252px;
}

.quote {
  padding-top: 12%;
  text-shadow: 0px 2px 2px #000;
  font-size: 90%;
}
.button {
  width: 50%;
  margin-left: 20%;
}

.list {
  padding-left: 10%;
  padding-left: 10%;
}

.bride-1 {
  padding-top: 5%;
}

.bride-2 {
  padding-top: 5%;
}

.bride-3 {
  padding-top: 5%;
}

.media-icon {
  width: 3%;
}

}
