nav {
  text-align: center;
  background-color: #A8A8A8;
}

h1, li, .masthead{
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: 700italic;
}

p {
  font-family: 'Lora', serif;
}

.masthead {
  background-color: #888888;
}

.banner-text {
  padding-left: 20%;
  padding-right: 20%;
}

.quote {
  padding: 10%;
}

.index {
  background-color: #F0F0F0;
}

.pricing-bucket {
  background-color: #C0C0C0;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400italic;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 700italic;
}


a {
  color: #42210B;
}

.button {
  border-style: solid;
  border-color: #42210B;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 700italic;
  padding: 0.5em;
  width: 20%;
  display: inline-block;
  margin-left: 40%;
  text-decoration: none;
}

.button-1 {
  border-style: solid;
  border-color: #42210B;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 700italic;
  padding: .5em;
  padding-left: 1em;
  padding-right: 1em;
  width: 40%;
  text-decoration: none;
  display: inline;
}

.button-2 {
  border-style: solid;
  border-color: #42210B;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-weight: 700italic;
  padding: .5em;
  width: 40%;
  text-decoration: none;
  display: inline;
}

footer {
  background-color: #D0D0D0;
}

.pre-foot {
  background-color: #989898;
  text-align: center;
  padding: 2em;
}

.pre-foot-p {
  width: 50%;
  display: inline;
  padding-right: 1em;
}

@media only screen and (min-width: 20em) {
  .list {
    padding-left: 5%;
    padding-right: 5%;
  }

  .button {
    border-style: solid;
    border-color: #42210B;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: 700italic;
    padding: 0.5em;
    width: 40%;
    display: inline-block;
    margin-left: 30%;
    text-decoration: none;
  }

}



@media only screen and (min-width: 40em) {
  .list {
    padding-left: 20%;
    padding-right: 20%;
  }
}


@media only screen and (min-width: 60em) {

.button {
  width: 50%;
  margin-left: 20%;
}

.list {
  padding-left: 10%;
  padding-left: 10%;
}

.bride-1 {
  padding-top: 5%;
}

.bride-2 {
  padding-top: 5%;
}

.bride-3 {
  padding-top: 5%;
}
